<template name="notFound">
	<div class=" not-found page  jumbotron">
		<h2>Ooops we seem to have lost your page , we might actually be looking the cosmos for your particular meteor</h2>
		<p>404</p>
	</div>
</template>