<template name="userItem">
	<div class = "post">
		<div class="post-content">
			<h3> {{ username }} </h3>
			<h3> Topics Submitted : {{ profile.postCount }} </h3>
			<h3> Thoughts Added : {{ profile.commentCount }} </h3>
			<h3> Levels : {{profile.restrict}}</h3> 
			<h6> is admin : {{acheck}} </h6>
			{{#if isInRole 'admin'}}
				
					<button class = "admc btn" href="#">toggle admin</button>
					<button class="edit btn">edit levels</button>
					<button class="delete btn btn-warn"> delete user </button>

				

			{{/if}}
			{{#if isEditingLevel }}
				{{> levelEdit }}
			{{/if}}
		</div>
	</div>
</template>

<template name="levelEdit">
	<h3>
	{{ #each level}}
	<span> {{this.title}}, </span>

	{{/each}} 
    </h3>
    <form name = "editLevel" class="level-form form">
    	<div class="controls">
    		<label for="levels"> Enter levels </label>
    <input name="levels" id="levels" type="text" />
    <button class=" change btn btn-primary " >  change levels </button>
</div>
</form>
</template>