<template name="adminTypes">
	<div class= "posts page">

		<div class="wrapper">
		<div class="post">	{{> typeMake }} </div>

			{{#each types }}
				{{> typeItem }}
			{{/each}}
		</div>
	</div>
</template>

<template name="typeItem">
	<div class = "post">
		<div class="post-content">
			<h3> {{ this.title }} </h3>
			<h3> Is restrictive = {{ this.restrictive }} </h3>
			<button class="btn btn-danger delete"> Delete </button> 
		</div>
	</div>
</template>


<template name="typeMake">
	<form name= "type" class="type-form form">
		<div class="form-group {{errorClass 'title'}}">
			<div class="controls">
				<label for="title"> Enter type </label>
				<textarea name="title" class="form-control"> </textarea>
				<span class="help-block">{{errorMessage 'title'}}</span>
			</div>
		</div>
		<select class="form-control padbot" name="restrictive">
			<option value='true'>true </option>
			<option value='false'>false</option>
		</select>
		<button type="submit" class="btn btn-primary"> Add type </button>
	</form>
</template>