<template name = "types">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown">
		Categories
		
			
		<b class="caret"></b>
	</a>
	<ul class="type dropdown-menu">
		 <li>
					<a href="{{pathFor 'newPosts'}}"> All </a>
				</li>
			{{#each categorise}}
				{{> categoryItem}}
			{{/each}}
	</ul>
</template>

<template name="categoryItem">
	<li>
		<a href=" {{pathFor 'categoryPosts' categorynum = this._id}} ">{{this.title}}</a>
	</li>
</template>
