<template name="postPage">
	<div class="post-page page">
	{{> postItem }}
	<div class="post">
	{{{content}}}
	<div></div>
	{{#each thoughtTyper}}
  <span><a href="{{pathFor 'postPageTt' _tt=this.names  _id=this.post}}" class="btn">{{this.names}} | {{this.count}}</a></span>
{{/each}}


{{#if postroot}}
		{{#if currentUser}}
				<a href="#" class="btn btn-success comad">Add your thought</a>
			{{else}}
				<p>please login to share your thoughts</p>
			{{/if}}
	{{ else }}
			<a href="{{pathFor 'postPage'}}" class="btn btn-success">Back</a>

	{{/if}}

</div>

	<ul class="thoughts list-unstyled">
		{{#each comments}}
			{{> commentItem }}
		{{/each}}
	</ul>

	{{#if postroot}}
		{{#if currentUser}}
				{{> commentSubmit }}
			{{else}}
				<p>please login to share your thoughts</p>
			{{/if}}
	{{ else }}
			<h3><a href="{{pathFor 'postPage'}}">Back</a></h3>
			<h3>{{router}}</h3>

	{{/if}}
	</div>
</template>
