<template name="postEdit">
	<form class="main form page">
	<div class="form-group {{errorClass 'title'}}">
			<label class="control-label" for="title">Title</label>
			<div class="controls">
				<input name="title" id="title" type="text" value="{{titler}}" placeholder="{{titler}}" class="form-control"/>
				<span class="help-block">{{errorMessage 'title'}} </span>
			</div>
		</div>

		<div class= "form-group {{errorClass 'url'}}  "   >
			<label class="control-label" for="url">Description</label>
			<div class="controls"  >
				<div name="url" id="summernote" type="text" placeholder="what you want to discuss" class="form-control"> {{{content}}}</div>
				
				<span class="help-block">{{errorMessage 'url'}} </span>
			</div>
		</div>

		<div class="form-group {{errorClass 'tt'}}">
			<label class="control-label" for="tt">What kind of thoughts do you expect</label>
			<div class="controls">
				<input name="tt" id="tt" type="text" value="{{this.tt}}" placeholder="yes,no,maybe" class="form-control"/>
				<span class="help-block">{{errorMessage 'tt'}} </span>
			</div>
		</div>

		<div class="form-group {{errorClass 'type'}}">
				<label class="control-label" for="type">What kind of discussion is this </label>

	<select class="form-control padbot" name="category">
			{{#each category}}
  <option value="{{this._id}}">{{this.title}}</option>
{{/each}}


	</select>
					</div>



		
		<input type="submit" value="Submit" class="btn btn-primary"/>
		
		<hr/>
		<a class="btn btn-danger delete " href="#">Delete Discussion</a>
	</form>
</template>