<template name="postItem">
	<div class="post">
		<a href="#" class="upvote btn btn-default {{upvotedClass}} ">^</a>
		<div class="post-content">
			<h3><a href="{{pathFor 'postPage'}}">{{title}}</a><span>{{{domain}}}</span></h3>
			<h3> {{category}} </h3>
			<p><a href="{{pathFor 'postPage'}}"> {{pluralize commentsCount "thought"}} </a>,
				
				{{pluralize votes "Vote"}},
				{{pluralize views "View"}},
			</p>	
			<p>
				submitted by {{author}},
				{{#if ownPost}} <a href="{{pathFor 'postEdit'}}">Edit</a>{{/if}}
				
			</p>
		</div>
		
	</div>
</template>