<template name="postsList">
<div class="posts page">
	<div class="wrapper">

	{{#each posts}}
		{{> postItem}}
	{{/each}}
</div>
	{{#if nextPath}}
	<a class="load-more" href="{{nextPath}}">Load more </a>
	{{else}}
	{{#unless ready}}
		{{> spinner }}
	{{/unless}}
	{{/if}}
</div>
</template>