<template name="commentEdit">

	<form name = "comment" class= "comment-form form">
		<div class="form-group {{errorClass 'body'}} ">
			<div class="controls">
				<label for="body"> Edit your thoughts  </label>
				<textarea name="body"  id="summernote" class="form-control" rows="3">{{{contenter}}}</textarea>
				<span class="help-block">{{errorMessage 'body'}}</span>
			</div>
		</div>	
	
	<select class="form-control padbot" name="thoughtType">
			{{#each thoughttyper}}
  <option value="{{this}}">{{this}}</option>
{{/each}}


	</select>

		<button type="submit" class="btn btn-primary">Edit your thought</button>
	</form>

	<a href="#" class="remove">delete</a>
	<a href="#" class="cancel">cancel</a>
</template>