<template name = "commentSubmit">

	<form name = "comment" class= "comment-form form" id="comad">
		<div class="form-group {{errorClass 'body'}} ">
			<div class="controls">
				<label for="body"> Add your thoughts to this discussion </label>
				<textarea name="body" id="summernote" class="form-control" rows="3"></textarea>
				<span class="help-block">{{errorMessage 'body'}}</span>
			</div>
		</div>	
	
	<select class="form-control padbot" name="thoughtType">
			{{#each thoughtTypes}}
  <option value="{{this}}">{{this}}</option>
{{/each}}


	</select>

		<button type="submit" class="btn btn-primary">Add thought</button>
	</form>
</template>