<template name="commentItem">
	<li class="post">
		
		{{#if isEditingComment }}
				{{> commentEdit }}

		{{else}}
		


		
			<div>{{{body}}}</div>
			<p>{{thoughtType}}</p>
				<p>
					<span class="author">{{author}}</span>
					<span class="date">on {{submittedText}}</span>
				</p>
			

			{{#if ownComment}} 
				<a href="#" class="edit">edit</a>
			{{/if}}
			{{#if isCommentReplying }}
				{{> commentReply }}
			{{ else }}

			{{#if currentUser}}
				
				<a href="#" class="reply">Discuss</a>
				
			{{else}}
				<p>please login to have a discussion </p>
			{{/if}}
			{{#if convers}}
			{{#if discuss }}
			<a  href="{{pathFor 'postPageConv' _convid=this.headId _id=this.postId }}"  class="btn"> click to see conversation</a>
			{{ /if }}
			{{/if}}

		{{/if}}


		{{/if}}
	</li>
</template>
