<template name="accessDenied">
	<div class= "access-denied page jumbotron">
		<h2> Access denied</h2>
		<p>This is not a page you can access, sorry !! please check if you have logged in </p>
	</div>
</template>