<template name="errors">
	<div class = "errors">
		{{#each errors}}
			{{> error}}
		{{/each}}
	</div>
</template>

<template name="error">
	<div class="alert alert-danger " role="alert">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		{{message}}
	</div>
</template>