<template name="header">
	<nav class= "navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation"> 
				<span class="sr-only"> Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class = "navbar-brand" href="{{pathFor 'home'}}">Corum</a>
				
		</div>
		<div class="collapse navbar-collapse" id="navigation">
			<ul class=" nav navbar-nav">
				<li class="{{activeRouteClass 'home' 'newPosts'}}">
					<a href="{{pathFor 'newPosts'}}"> New </a>
				</li>
				<li class="{{activeRouteClass 'bestPosts'}}">
					<a href="{{pathFor 'bestPosts'}}"> Best</a>
				</li>
				<li class="{{activeRouteClass 'viewedPosts'}}">
					<a href="{{pathFor 'viewedPosts'}}"> Most viewed</a>
				</li>
				{{#if currentUser}}
				<li class="{{activeRouteClass 'postSubmit'}}"><a href="{{pathFor 'postSubmit'}}">Submit Topic</a></li>
				<li class="dropdown">
					{{> notifications }}
				</li>
				{{/if}}
				<li class="dropdown">
					{{> types}}
				</li>
				{{#if isInRole 'admin'}}
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
		Admin Controls
		
			
		<b class="caret"></b>
	</a>
	<ul class="type dropdown-menu">
		 <li>
			
					<a href="{{pathFor 'adminPage'}}"> Users </a>		
				</li>
		<li> <a href="{{pathFor 'adminTypes'}}">Types</a></li>
			
	</ul>
				</li>
				{{/if}}
				<li>
					<a class = "admc" href="#">admin</a>
				</li>
			</ul>
			<ul class=" nav navbar-nav navbar-right">
				{{> loginButtons}}
			</ul>
		</div>
	</nav>
</template>